@import url('https://cursedprograms.github.io/cursedentertainment/styles/main-style.css');

:root {
    --primary-bg-color: var(--color-secondary);
    --primary-text-color: var(--color-text);
    --info-bg-color: var(--color-primary-light);
    --board-bg-color: var(--color-primary);
    --cell-bg-color: var(--color-light-grey);
    --snake-color: var(--color-secondary);
    --food-color: #B86600;
}

body {
    height: 100vh;
    margin: 0;
    padding-top: 5%;
    overflow: hidden;
}

#instructions {
    font-size: 18px;
    margin-top: 10px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    gap: 1px;
    background-color: var(--board-bg-color);
    border: 1px solid var(--board-bg-color);
}

.info {
    width: 350px;
    height: 100px;
    margin: 3px;
    padding-top: 2px;
    display: block;
    background-color: var(--info-bg-color);
}

.cell {
    width: 20px;
    height: 20px;
    background-color: var(--cell-bg-color);
}

.snake {
    background-color: var(--snake-color);
}

.food {
    background-color: var(--food-color);
}